:root {
  --main-content-left-offset: 90px;
  --background-color: #FFFAF6;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animation-stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: var(--main-content-left-offset);
  
  box-sizing: border-box;
  width: 100%;
  height: 100%; 
  overflow-y: auto;
}

.recommendation-page-container {
  padding-top: 100px;
  justify-content: center;
  align-items: left; 
}