:root {
    --sidebar-bg: #FFFAF6;
    --sidebar-icon-color: #03607E;
    --sidebar-text-color: #03607E;
    --sidebar-active-bg: #e0d8d0;
    --sidebar-width-expanded: 250px;
    --sidebar-width-collapsed: 70px;
}

.sidebar-toggle-button {
    position: fixed;
    top: 20px;
    left: 15px;
    z-index: 1300;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text-color);
    border: none;
    border-radius: 20%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: none;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.sidebar-toggle-button:hover {
    background-color: var(--background-color);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--sidebar-bg);
    box-shadow: 1px 0 1px rgba(0,0,0,0.1);
    z-index: 1200;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.sidebar.expanded {
    width: var(--sidebar-width-expanded);
}

.sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
    align-items: center;
}

.sidebar nav {
    flex-grow: 1;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 15px 23px;
    cursor: pointer;
    color: var(--sidebar-text-color);
    transition: background-color 0.2s ease;
}

.sidebar.collapsed li {
    justify-content: center;
    padding: 15px 0;
}

.sidebar li.active {
    color: var(--blue-1);
}

.sidebar li.active svg {
    color: var(--blue-1);
}

.sidebar li svg {
    font-size: 1.5em;
    color: var(--sidebar-icon-color);
    transition: color 0.2s ease;
}

.sidebar.expanded li svg {
    margin-right: 15px;
}

.sidebar.expanded li span {
    font-size: 1em;
}

.sidebar.collapsed li span {
    display: none;
}

.sidebar-user {
    padding: 20px;
    display: flex;
    align-items: center;
    color: var(--sidebar-text-color);
    border-top: 1px solid #dcd5cf;
    margin-bottom: 90px;
}

.sidebar.collapsed .sidebar-user {
    justify-content: center;
    padding: 20px 0;
}

.sidebar-user svg {
    font-size: 1.8em;
    color: var(--sidebar-icon-color);
}

.sidebar.expanded .sidebar-user svg {
    margin-right: 15px;
}

.sidebar.collapsed .sidebar-user span {
    display: none;
}

.content-area-shifted {
    margin-left: var(--sidebar-width-expanded);
}

.content-area-default {
    margin-left: var(--sidebar-width-collapsed);
}

body.place-sidebar-active .sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

body.place-sidebar-active .sidebar-toggle-button {
    filter: brightness(0.5);
}

.sidebar-hidden {
    pointer-events: none;
}

.sidebar-bottom-section {
    margin-top: auto;
    padding-bottom: 20px;
}
  
.sidebar-mute-button{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: var(--sidebar-text-color);
}

.sidebar-mute-button:hover {
    background-color: var(--sidebar-active-bg);
}
  
.sidebar-mute-button svg,
.sidebar-user svg {
    margin-right: 15px;
    font-size: 1.2em;
}
  
.sidebar-bottom-section-collapsed {
    margin-top: auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.sidebar-mute-button-collapsed {
    padding: 15px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
}
  
.sidebar-mute-button-collapsed svg {
    font-size: 1.5em;
    color: var(--sidebar-icon-color);
}
  
.sidebar.collapsed .sidebar-user {
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.sidebar.collapsed .sidebar-user svg {
    margin-right: 0;
    font-size: 1.5em;
}

.sidebar-toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.sidebar-logo {
  width: 20px; 
  height: 20px;
  object-fit: contain;
}