:root {
    --beige-1: #E7C9AF;
    --beige-2: #EEE0D7;
    --blue-1: #90B6D1;
    --blue-2: #03607E;
    --blue-3: #04384B;
    --background-color: #FFFAF6;
}

.progress-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 12px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.done {
  background-color: var(--blue-1);
}

.dot.current {
  background-color: var(--blue-2);
}

.dot.upcoming {
  background-color: var(--beige-1);
}
