/* front.css */
:root {
    --beige-1: #E7C9AF;
    --beige-2: #EEE0D7;
    --blue-1: #90B6D1;
    --blue-2: #03607E;
    --blue-3: #04384B;
    --background-color: #FFFAF6;
}

body {
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: var(--blue-3);
    font-size: 3em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

label {
    margin-top: 10px;
    font-weight: 300;
    font-size: 0.9em;
}

input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s, color 0.3s;
}

button[type="button1"] {
    background-color: var(--blue-2);
    color: white;
    border: 2px solid var(--blue-2);
}

button[type="button1"]:hover {
    background-color: var(--blue-1);
}

button[type="button2"] {
    background-color: transparent;
    color: var(--blue-2);
    border: 2px solid var(--blue-2);
}

button[type="button2"]:hover {
    background-color: var(--blue-1);
}